*.pyc
__pychache__/
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

elios_app/static/node_modules
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
